/* 重置样式 */

body , ul , figure ,header,footer,section,figcaption,li , ol , p , h1 , h2 , h3 , h4 , h5 , h6 , dl , dd , dt {
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #333;
}

ul , li , ol {
	list-style: none;
}

body , html {
	height: 100%;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #333;
	background: #eee;
}

img{
	display: block;
}

.clearFix:after{
	content: "";
	display: block;
	clear: both;
	overflow: hidden;
	height: 0;
	zoom: 1;
	visibility: hidden;
}