
/*购物车样式*/
.shoppingCar header{
	height: 1.40625rem;
	line-height: 1.40625rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background: #f9fafd;
	text-align: center;
	color: #333;
	font-size: 0.4375rem;
	
}
/*滚动条设置*/
.contentBottom{
	border-top: 2px solid #E0E0E0;
	position: absolute;
	top: 1.40625rem;
	left: 0;
	right: 0;
	overflow: auto;
	bottom: 1.5625rem;
}
.specificAddress{
	margin-bottom: 0.3125rem;
	height: 1.5rem;
	line-height: 1.5rem;
	background: #FFFFFF;
}
.specificAddress a{
	display: inline-block;
	margin-left: 0.46875rem;
	color: #FF3800;
	font-size: 0.40625rem;
}

.takeGood div:nth-of-type(1){
	height: 1.71875rem;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-bottom: 2px solid #E0E0E0;
	
}

/*彩色条*/
.yellowTip{
	display: inline-block;
	width: 0.125rem;
	height: 0.375rem;
	background: #ffd600;
	border-radius: 5px;
}
.takeGood div:nth-of-type(1) p:nth-of-type(1){
	display: flex;
	align-items: center;
}
.yellowTipRight{
	margin-left: 0.1875rem;
}
.takeGood div:nth-of-type(1) p{
	margin-left: 0.4375rem;
	font-size: 0.3125rem;
	color: #999;
}
.takeGood div:nth-of-type(2){
	background: #FFFFFF;
	border-bottom: 2px solid #E0E0E0;
	height: 1.5625rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.takeGood div:nth-of-type(2) p:nth-of-type(1) span:nth-of-type(1){
	color: #333333;
	font-size: 0.4375rem;
	margin-left: 0.4375rem;
}
.takeGood div:nth-of-type(2) p:nth-of-type(1) span{
	display: inline-block;
	margin-left: 0.4375rem;
	color: #FF3800;
	font-size: 0.4375rem;
}
.takeGood div:nth-of-type(2) p:nth-of-type(2){
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.takeGood div:nth-of-type(2) p:nth-of-type(2) span{
	color: #333333;
	font-size: 0.4375rem;
	margin-right: 0.234375rem;
}
.takeGood div:nth-of-type(2) img{
	height: 0.4375rem;
	margin-right: 0.4375rem;
}
/*收货备注*/
.takeGood div:nth-of-type(3){
	height: 1.5625rem;
	background: #FFFFFF;
	border-bottom: 2px solid #E0E0E0;
	display: flex;
	align-items: center;
}
.takeGood div:nth-of-type(3) p{
	color: #333333;
	font-size: 0.4375rem;
	margin-left: 0.4375rem;
}
.takeGood div:nth-of-type(3) input{
	width: 6.875rem;
	height: 1.0625rem;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	outline: none;
	margin-left: 0.375rem;
	font-size: 0.375rem;
}
/*购物车商品列表*/
.goodCar{
	background: #FFFFFF;
}
.goodCar ul li{
	display: flex;
	height: 2.5rem;
	align-items: center;
	border-bottom: 2px solid #E0E0E0;
}
.goodCar ul li a{
	display: flex;
	align-items: center;
	margin-left: 0.84375rem;
}
.goodCar ul li input{
	height: 0.53125rem;
	width: 0.53125rem;
	border: none;
	border-radius: 50%;
	margin-left: 0.46875rem;
}
.goodCar ul li img{
	height: 1.25rem;
	margin-right: 0.78125rem;
}
.shoppingName p:nth-of-type(1){
	color: #333333;
	font-size: 0.375rem;
	margin-bottom: 0.84375rem;
}
.shoppingName .price{
	color: #333333;
	font-size: 0.3125rem;
}
.addOne{
	position: relative;
	width:3rem;
	height: 0.875rem;
}
.addShopping1{
	position: absolute;
    top: 50%;
    left: 0;
    width: 0.875rem;
    height: 0.875rem;
    background: #ff4300 url(../image/add.png) no-repeat left center;
    background-origin: border-box;
    background-size: 200% 100%;
    border-radius: 50%;
    border-width: 2px;
    border-color: #E0E0E0;
    border-style: solid;
}
.countNum{
	position: absolute;
	top: 65%;
    left: 38%;
    font-size: 0.34375rem;
    color: #333333;
}
.addShopping2{
	position: absolute;
	top: 50%;
    left: 50%;
    width: 0.875rem;
    height: 0.875rem;
    background: #ff4300 url(../image/add.png) no-repeat right center;
    background-origin: border-box;
    background-size: 200% 100%;
    border-radius: 50%;
    border-width: 2px;
    border-color: #E0E0E0;
    border-style: solid;
}
/*合计价格*/
#selectAll{
	height: 1.5625rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#selectAll input{
	height: 0.53125rem;
	width: 0.53125rem;
	border: none;
	border-radius: 50%;
	margin-left: 0.46875rem;
}
label{
	font-size: 0.375rem;
	color: #333333;
}
#selectAll p{
	font-size: 0.375rem;
	color: #333333;
}
#allPrice{
	display: inline-block;
	color: #FF3800;
}
.subBtn{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffd600;
	width: 3.125rem;
}
